* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafbfb;
    display: flex;  
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

.form-container-setting {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.header-post {
    border-bottom: 1px solid #ddd;
}

h2 {
    font-size: 28px;
}
.container-setting{
    width: 50%;
}
.container-setting form {
    border: 2px solid #e0e0e0 ;
    background-color:white;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
}

.body-setting table {
    width: 100%;
    border-collapse: collapse;

}


.body-setting td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.body-setting #header-table {
    font-weight: bold;
    margin-top: 10px;
}

.body-setting table .name-profile {
    font-weight: bold;
}

.body-setting a {
    color: rgb(21, 0, 255);
    text-align: center;
    text-decoration: none;
}

.body-setting input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 7px;
    width: 100%;
    box-sizing: border-box;
}

.btn-setting {
    width: 70px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 40px;
    font-size: 15px;
    background-color: rgb(21, 0, 255);
    color: aliceblue;
    cursor: pointer;
    margin: 10px 45%;
}

.body-setting tr:hover {
    background-color: #ddd;
}
.form-container-setting #change-password-form {
    border-top: 0px;
}
