<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset</title>
    <link rel="stylesheet" href="/Web_RestAPI/src/views/ForgotPassword/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="container" id="container">
        <div class="form-container">
            <form id="reset-password-form" accept="/Web_RestAPI/reset-password" method="post" class="action">
                <h1>Reset Password</h1>
                <h2>Enter new password</h2>
                <p>Please enter your new password.</p>
                <div class="box">
                    <input type="password" id="password" name="password" placeholder="New Password" required />
                    <input type="password" id="confirmPassword" name="password-confirmation"
                        placeholder="Confirm Password" required />
                    <input type="hidden" id="token" name="token" value="your_token_value_here" />
                    <p id="error-message" style="color: red; display: none;"></p>
                    <button type="submit">Continue</button>
                </div>
            </form>
        </div>
    </div>

    <script>

        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        $(document).ready(function() {
            $('#token').val(getQueryParam('token'))
        })

        
        
    </script>
</body>

</html>