<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="container" id="container">
            <div class="form-container">
                <form
                    action="../Home/index.html"
                    class="action"
                    id="action"
                    onsubmit="return checkPassword()"
                >
                    <h1>Reset Password</h1>
                    <h2>Enter new password</h2>
                    <p>Please enter your new password.</p>
                    <div class="box">
                        <input
                            type="password"
                            id="password"
                            placeholder="New Password"
                            required
                        />
                        <input
                            type="password"
                            id="confirmPassword"
                            placeholder="Confirm Password"
                            required
                        />
                        <button>Continue</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            function checkPassword() {
                var pass = document.getElementById('password').value
                var confirmPass =
                    document.getElementById('confirmPassword').value

                if (pass !== confirmPass) {
                    alert('Password do not match!')
                    return false
                }

                return true
            }
        </script>
    </body>
</html>
