<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div class="container" id="container">
            <div class="form-container sign-up">
                <form action="#" class="action">
                    <h1>Create Account</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"></a>
                    </div>
                    <span>Use your email for registeration</span>
                    <input type="text" placeholder="Name" id="name" />
                    <input type="email" placeholder="Email" id="email" />
                    <input type="password" placeholder="Password" id="psw" />
                    <p id="messageError"></p>
                    <button id="btnSignUp">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in">
                <form action="#" class="action">
                    <h1>Login</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"></a>
                    </div>
                    <span>Use your email password</span>
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <div class="remember-forget">
                        <div class="remember-me">
                            <input type="checkbox" />
                            <label for="remember-me">Remember me</label>
                        </div>
                        <a href="../ForgotPassword/index.html"> Forgot Password</a>
                    </div>
                    <button>Login</button>
                </form>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>
                            Enter your personal details to use all of site
                            feature
                        </p>
                        <button class="hidden" id="login">Login</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Hello, Friend!</h1>
                        <p>
                            Register your personal details to use all of site
                            feature
                        </p>
                        <button class="hidden" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="./script.js"></script>
    </body>
</html>
