<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-dA/xC+7Qmiz1cY+2bDUiRbNDvNKZf6p8LGc0lFfyQH3IDUzDjcV3yYlPuNZL0r93" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-notification">
        <div class="form-container-notification">
            <form action="" class="action-notification">
                <div class="header-notification">
                    <h1>Notifications</h1>
                    <p>You have <span id="name-notification">3 Notifications</span> today.</p>
                </div>
                <div class="body-search-notification">
                    <p class="day-notification">Today</p>
                    <table>
                        <div class="profile-notification">
                            <tr class="hover-notification">
                                <td width="10%"> 
                                    <div class="profile-img-notification">
                                        <img src="./Image/hinh2.jpg" alt="avatar">
                                    </div>
                                </td>
                                <td>
                                    <p class="name-notification">katiee.04 <span id="news-notification">liked your news.</span></p>
                                </td>
                                <td width="20%" class="hour-notification">
                                    3 mins
                                </td>
                            </tr>
                            <tr class="hover-notification">
                                <td width="10%"> 
                                    <div class="profile-img-notification">
                                        <img src="./Image/hinh3.jpg" alt="avatar">
                                    </div>
                                </td>
                                <td>
                                    <p class="name-notification">typical__ <span id="news-notification">mentioned you in the commnet: I love you so much. 💝</span></p>
                                </td>
                                <td width="20%" class="hour-notification">
                                    2 hours
                                </td>
                            </tr>
                        </div>
                    </table> 

                    <p class="day-notification">Yesterday</p> 

                    <table>
                        <div class="profile-notification">
                            <tr class="hover-notification">
                                <td width="10%"> 
                                    <div class="profile-img-notification">
                                        <img src="./Image/hinh1.jpg" alt="avatar">
                                    </div>
                                </td>
                                <td>
                                    <p class="name-notification">jessica <span id="news-notification">liked your comment: Congratulation 😚</span></p>
                                </td>
                                <td width="20%" class="hour-notification">
                                    23 hours
                                </td>
                            </tr>
                            <tr class="hover-notification">
                                <td width="10%"> 
                                    <div class="profile-img-notification">
                                        <img src="./Image/hinh4.jpg" alt="avatar">
                                    </div>
                                </td>
                                <td>
                                    <p class="name-notification">greeeny and 90 other people <span id="news-notification">liked your post.</span></p>
                                </td>
                                <td width="10%" class="hour-notification">
                                    1 day 
                                </td>
                            </tr>
                        </div>
                    </table> 

                    <p class="day-notification">This week</p> 
 
                    <table>
                        <div class="profile-notification">
                            <tr class="hover-notification">
                                <td width="10%"> 
                                    <div class="profile-img-notification">
                                        <img src="./Image/hinh1.jpg" alt="avatar">
                                    </div>
                                </td>
                                <td>
                                    <p class="name-notification">jessica <span id="news-notification">liked your comment: Congratulation 😚</span></p>
                                </td>
                                <td width="20%" class="hour-notification">
                                    1 day
                                </td>
                            </tr>
                            <tr class="hover-notification">
                                <td width="10%"> 
                                    <div class="profile-img-notification">
                                        <img src="./Image/hinh4.jpg" alt="avatar">
                                    </div>
                                </td>
                                <td>
                                    <p class="name-notification">greeeny and 90 other people <span id="news-notification">liked your post.</span></p>
                                </td>
                                <td width="20%" class="hour-notification">
                                    2 days
                                </td>
                            </tr>
                            <tr class="hover-notification">
                                <td width="10%"> 
                                    <div class="profile-img-notification">
                                        <img src="./Image/hinh2.jpg" alt="avatar">
                                    </div>
                                </td>
                                <td>
                                    <p class="name-notification">katiee.04 <span id="news-notification">liked your news.</span></p>
                                </td>
                                <td width="20%" class="hour-notification">
                                    2 days
                                </td>
                            </tr>
                            <tr class="hover-notification">
                                <td width="10%"> 
                                    <div class="profile-img-notification">
                                        <img src="./Image/hinh3.jpg" alt="avatar">
                                    </div>
                                </td>
                                <td>
                                    <p class="name-notification">typical__ <span id="news-notification">mentioned you in the commnet: I love you so much. 💝</span></p>
                                </td>
                                <td width="20%" class="hour-notification">
                                    4 days
                                </td>
                            </tr>
                        </div>
                    </table>  
                </div>  
            </form>
        </div>
    </div> 
</body>
</html>
